.buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.errorMessage{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    color: red;
}

.patientNoteListContainer{
    padding: 10px;
}

.patientButtons{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.patientRisk{
    text-align: center;
    font-size: 80px;
    padding: 10px;
}

.patientRisk.none {
    color: green;
}

.patientRisk.borderline {
    color: orange;
}

.patientRisk.indanger {
    color: red;
}

.patientRisk.earlyonset {
    color: darkred;
}

.patientRisk.unknown {
    color: gray;
}