/*.patientList {
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
}*/

.buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.errorMessage{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    color: red;
}

.patientListContainer{
    padding: 10px;
}